:root {
  /* Colours */
  --color-bg: #fef9e1; /* page background /*

  /* Header */
  --color-head-bg: #f0bba4;

  /* Logotype */
  --color-logotype-bg: #c5bbbb;
  --color-text-logotype: #fffae2;
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: #dbdde2;
  /* Links */
  --color-link-bg: #78766e;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #4b4545;
  --color-headline-text-page: #42413d;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #cdccc4;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #f3e2eb;
  --color-cta-card-bg: #d5d2d0;
  /* news-cards */
  --color-news-bg: #f3e2eb;
  --color-news-bg-inverted: #f3e2eb;
  --color-cta-newscard-bg: #777873;
  --color-cta-newscard-bg-inverted: #7b7d83;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #c06b6b36;
  --color-infobox-1-bg: #cfcec6;
  --color-infobox-2-bg: #969995;
}
